.as.dev-sidebar-iframe {
    height: 100%;
    width: 100%;
    position: absolute;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

#as-dev-sidebar-main {
    background-color: #ff9000;
}

#as-dev-sidebar {
    background-color: #ffffff00;
}

#as-dev-sidebar-dragbar {
    background-color: black;
    height: 100%;
    width: 5px;
    cursor: col-resize;
    float: left;
}

#as-dev-sidebar-ghostbar {
    width: 30px;
    background-color: #000;
    opacity: 0.5;
    position: absolute;
    cursor: col-resize;
    z-index: 1999
}

.as.dev-header {
    background-color: #364850;
    color: #fff;
    text-align: center;
    line-height: 34px;
    align-items: center;
    justify-content: center;
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0px;
}

.as.dev-header-tab {
    color: #fff !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* text-size-adjust: 100%; */
    background-color: #4E5E68;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 34px;
    color: #313841;
    font-size: 1.6rem;
    font-family: "Segoe UI", "HelveticaNeue-Medium", Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased
}

.as.dev-header-tab>.fas {
    line-height: 34px !important;
    font-size: 16px !important;
}

.as.dev-sidebar-panel {
    position: fixed;
    width: 50%;
    transition: all 300ms ease 0s;
    height: 100%;
    top: 25px;
    right: 0px;
    z-index: 999;
}

.as.dev-sidebar-handle {
    left: -32px;
    padding: 0px;
    position: absolute;
    top: 0px;
    width: 32px;
    line-height: 34px;
    cursor: pointer;
    font-family: unset;
    height: 30px;
}

.as.dev-sidebar-icon {
    width: 32px;
    height: 32px;
}

.left-shadow-overlay {
    box-shadow: 10px 0 15px 10px #585858;
}


/* #asLoader.hide {

    display: block;
    position: absolute;
    width: 0px;
    height: 0px;
    z-index: 10000;

    visibility: hidden !important;
    opacity: 0;
    transition: visibility 0s 3s, opacity 3s cubic-bezier(0.42, 0, 0, 1.71);
}


#asLoader.show {
    display: block !Important;
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    z-index: 10000;

    visibility: visible !important;
    opacity: 1;
    transition: opacity 1s linear;

}

#iframesbmloader {
    width: 100%;
    height: 100%;
    z-index: 10000;

} */