


as-materialdesign-card::part(title) {
    font-size:20px;
    line-height: 32px;
    font-weight: 700;
  }
  
  as-materialdesign-card::part(subTitle) {
    font-size:14px;
    line-height: 22px;

  }

  as-materialdesign-card::part(body) {
    /* font-size:14px;
    line-height: 20px; */
    
  }

  as-materialdesign-card::part(cardSlot) {
  
    
  }

  as-materialdesign-card::part(primary) {
  }

  as-materialdesign-card
{  text-align: initial;
    overflow: visible!important;
    padding:2px;     
    flex-shrink:initial!important;
}

  .as-theme .editor-cell.droptarget,.as-theme .SFC .SourceCode-Forms-Controls-Web-Table.Grid-Layout
  {
    overflow: visible!important;
  }

  /* .as-theme, .as-theme .theme-entry.SFC,.as-theme .editor-cell.droptarget,.as-theme .SFC .SourceCode-Forms-Controls-Web-Table.Grid-Layout
  {
    overflow: visible!important;
  } */
  


/* html
{
 font-size:100%!important;
} */

/* .theme-entry 
{
 font-size:100%!important;
} */


mwc-textfield
{
  background-color: antiquewhite;
}

html
{
  font-size: 100%;
   background-color: rgb(153, 93, 14)!important;
}